.container{
    margin: auto;   
    text-align: center;
    width: 75%;
}

p{
    font-size: 5rem;
    border: solid 10px  purple;
}

.lineOne, .lineTwo{
    display: none;
}

.lineTwo{
    width: fit-content;
    text-align: center;
    margin: auto;
    color: green;
}
span{
    color: green;
}